---
BasedOnStyle: WebKit
FixNamespaceComments: true
NamespaceIndentation: None
SpaceAfterCStyleCast : true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterControlStatement: true
  AfterFunction:   true
  BeforeElse:      true
ColumnLimit: 85
AlignAfterOpenBracket: AlwaysBreak
BinPackParameters: false
BinPackArguments: false
PenaltyReturnTypeOnItsOwnLine: 600
Cpp11BracedListStyle: true
AllowAllParametersOfDeclarationOnNextLine: false
...
